<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITestService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:88/Endpoint1/TestService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITestService"
                contract="WcfLoadBalancing.Reference.ITestService" name="BasicHttpBinding_ITestService" />
        </client>
    </system.serviceModel>
</configuration>